<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="utility">
		<classes>
			<class name="idv.hsiehpinghan.regexutility.utility.RegexUtilityTest" />
			<class name="idv.hsiehpinghan.regexutility.utility.PatternUtilityTest" />
		</classes>
	</test>
</suite>