<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.collectionutility.suit.TestngSuitSetting" />
			<class name="idv.hsiehpinghan.collectionutility.utility.ArrayUtilityTest" />
		</classes>
	</test>
	<test name="test_2">
		<classes>
			<class name="idv.hsiehpinghan.collectionutility.java.util.HashMapTest" />
			<class name="idv.hsiehpinghan.collectionutility.java.util.HashSetTest" />
			<class name="idv.hsiehpinghan.collectionutility.java.util.LinkedHashSetTest" />
			<class name="idv.hsiehpinghan.collectionutility.java.util.TreeSetTest" />
			<class name="idv.hsiehpinghan.collectionutility.java.util.ArrayListTest" />
		</classes>
	</test>
</suite>