<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.classutility.suit.TestngSuitSetting" />
			<class name="idv.hsiehpinghan.classutility.utility.ClassUtilityTest" />
		</classes>
	</test>
</suite>